body {
    margin:0;
    padding:0;
    background-color:#f1f1f1;
}
.box {
    width:1290px;
    padding:20px;
    background-color:#fff;
    border:1px solid #ccc;
    border-radius:5px;
    margin-top:25px;
}

.header img {
    position: absolute;
    margin: auto;
    top: -720px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
    width: 260px;    
}

.header h1 {    
    margin-top: 160px;    
}
.btn-info {
    
    color: #fff;
    background-color:  #ab9b6a;;
    border-color:  #ab9b6a;;
}